<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>

</div>




  <nav class="top-bar" data-topbar role="navigation" id="responsive-menu">

    <section class="top-bar-section">
      <ul class="vertical medium-horizontal menu" data-dropdown-menu>
        <li><a class="nav-btn" href="#">HOME</a></li>
        <li><a class="nav-btn" href="#">SPORTS</a></li>
        <li><a class="nav-btn" href="#">TRAVEL</a></li>
        <li><a class="nav-btn" href="#">OUTDOORS</a></li>
        <li><a class="nav-btn" href="#">LIFESTYLE</a></li>
      </ul>

    </section>
  </nav>