<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">

    <ul>
      <li><a class="nav-btn" href="#">HOME</a></li>
      <li><a class="nav-btn" href="#">SPORTS</a></li>
      <li><a class="nav-btn" href="#">TRAVEL</a></li>
      <li><a class="nav-btn" href="#">OUTDOORS</a></li>
      <li><a class="nav-btn" href="#">LIFESTYLE</a></li>
    </ul>

  </section>
</nav>