/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require social-share-button
 *= require_tree .


 */

@import 'foundation';

@import 'foundation-icons';

$primary-color: #B48DDB;
$secondary-color:#489a15;
$dark-grey: #444;
$light-grey: #8f8f8f;

$size: 35px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.top-bar ul {
	background-color: transparent;
}


a {
	color: $dark-grey;
	&:hover {
		color: $primary-color;
	}
}

@font-face{
	font-family: 'goldfinger';
	src:font-url('goldfinger.ttf') format('truetype');
}

@font-face{
	font-family: 'Southern';
	src:font-url('Southern.ttf') format('truetype');
}

@font-face{
	font-family: 'Elegant';
	src:font-url('Elegant.ttf') format('truetype');
}


@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
    transition:         $transition;
}

@mixin flex-centered {
	display:flex;
	justify-content:center; 
}

@mixin banner-col {
	height: 500px;
	margin:0px;
	padding:0px;
	overflow: hidden;
}

#title-banner {
	text-align: center;
	font-family: 'Southern';
	font-size: 5rem;
	background-color: fade-out($primary-color, 0.8);
}

.title-bar {
	background-color: $primary-color;
	padding: 1rem 1rem;
}

nav.top-bar {
	justify-content:center;
	background-color: $primary-color;
	padding:0;
	box-shadow: 0px 5px 10px #dad4d4;
	z-index: 2;
}

section.top-bar-section {
	display: inline-block;
}

.nav-btn {
	text-align: center;
	background-color: $primary-color;
	font-weight: bold;
	padding: 1rem 1rem !important;
	color:white !important;
	@include transition(background-color, 1.5s);
	&:hover {
		background-color: darken($primary-color, 10%);
		color:white;
	}

}

.container {
  @include grid-row;
}

.banner-block {
	display:flex;
	height:500px;
}


.banner-col-60 {
	@include banner-col;
	width: 60%;
}

.banner-col-40 {
	@include banner-col;
	width:40%;
}

.banner-split-50 {
	height:50%;
	width:100%;
	overflow: hidden;
}

.banner-img {
	min-height: 100%;
	min-width:100%;
	max-width:none;
	@include transition(min-width, 1s);
	@include transition(min-height, 1s);
	&:hover {
		min-width:105%;
		min-height:105%
	}
}

.int-strict {
	max-height: 100%;
	max-width:100%;
}

.rel-fill {
	position:relative;
	height:100%;
	width:100%
}

#main-content {
	padding-top: 20px; 
}

#sticky-col {
	padding-top: 10px;
}

.pad-left {
	padding-left:10px
}

.bold {
	font-weight: bold;
}

.small-grey {
	font-size: 0.8rem;
	color: $light-grey;
}

.header-divider {
	font-size: 1.2rem;
	width:100%;
	border-bottom: 2px solid $dark-grey;
	margin: 15px 0px;
	span {
		background-color: $dark-grey;
		color:white;
		padding:4px 5px;
	}
}

.comment-box {
	margin: 10px 0px 10px 50px;
	color: $dark-grey;
}

.avatar-small {
	border-radius: 50%;
}

.preview-row {
	height: 200px
}

.preview-img {
	max-height: 100%;
	width: auto;
}

.article-info {
	width: 100%;
}

.author-name {
	font-weight: bold;
}

.preview-text {
	max-height: 195px;
	color:$dark-grey;
}

.preview-row {
	margin-bottom: 20px;
}

.preview-left {
	position:relative;
	padding-right: 0px;
}

.category-label {
	position: absolute;
	color:white;
	background-color: fade-out($dark-grey, 0.3);
	top:0%;
	right:0%;
	padding: 0px 5px;
	&:hover {
		background-color: $dark-grey;
	}
}

.side-link {
	display: flex;
	height:100px;
	width:100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.side-link-left {
	padding: 0;
	height:100%;
	width:40%;
}

.side-link-right {
 padding-left: 15px;
 width:60%;
 height: 100%; 
}

.side-title {
	max-height: 80%;
	overflow:hidden;
}

.date-small {
	font-size: 0.7rem;
	color: $light-grey;
}