<div class="row collapse">
		<div class="row collapse" id="feature">
			<%= render partial: 'articles/header_block_3', locals: { articles: @featured } %>
			
		</div>

		
<div class="row">

	<div class="small-12 medium-8 columns">
		<div class='header-divider'>
			<span>Trending Now</span>
		</div>
		<% @trending.each do |article| %>
			<%=render partial: 'articles/preview_link', locals: { article: article } %>
		<%end%>

	</div>

	<div class="medium-4 columns hide-for-small-only">
	 	<% @category_hash.each do |title, articles| %>
	 		<div class='header-divider'>
	 		  <span><%= title %></span>
	 		</div>

	 		<%= render partial: 'articles/side_bar_list', locals: { articles: articles} %>
	 	<% end %>
	</div>

</div>

