<div class='writer-bio row'>

 <div class='large-4 columns'>
   <%= image_tag @writer.avatar.url(:medium), class: 'avatar-img'%> 
 </div>	
 <div class='large-8 columns'>
 		<h2><%= @writer.fullname %></h2>
 		<p><%=@writer.bio %></p>
 </div>

</div>	

 <div class='row'>
	 <div class="header-divider">
	 	<span>Articles</span>
	 </div>
	   <% @writer.articles.each do |article| %>
		   <%=render partial: 'articles/preview_link', locals: { article: article } %>
		 <%end%>
 </div>	
  