// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

.index-box {
	position: relative;
	display:flex;
	justify-content: center;
}

.title-box {
	position:absolute;
	max-width: 80%;
  background:fade-out($secondary-color, 0.5);
  bottom:0%;
  padding: 5px;
  font-size:1.1rem;
  color:white;
  text-shadow: 1px 1px darken($secondary-color, 20%)
}

.grey-tab {
	background: #dad4d4;
	width:104px;
	font-size:13px;
	padding-left:3px;
	margin-bottom:5px;
}

.image-box {
	@include flex-centered;
}

.article-info {	
	display:flex;
	justify-content:space-between;
	color:$dark-grey;
	font-size: 14px;
	padding-bottom: 10px;
}

.article-stats {
	display:flex;
	div {
		margin-right:15px;
	}
}

.a-stat {
	display: flex;
	align-items:center;
	i {
		font-size: 1.2rem;
		padding-right:5px;
	}
}
.article-date {
	padding-left: 5px;
}

.image-box {
	margin-bottom: 10px; 
}

.vertical-spacer {
	height: 10px;
}

.feature-img {
	width: 100%;
}

#feature {
	padding-bottom: 15px;
}

#feature-text {
	padding-left: 0.8rem;
}

.fig {
	display:flex;
	flex-direction:column;
	align-items:center; 
}

.fig-caption {
	color: $light-grey;
	font-size: 0.8rem;
}

.article-body {
	p{		
		font-size: 1.1rem;
		line-height: 1.9rem;
	}
}

