<footer>
	<div class='footer-logo'>
		<%=image_tag 'GALogoLarge' %>
	</div>

	<div class='menu-small'>
	  |<%= link_to 'About' , page_show_path(page: 'about') %> | 
	  <%= link_to 'Contact', page_show_path(page: 'contact')%> |
	</div>	
</footer>