<div id="user-login" class="reveal user-form" data-reveal>
      <%= render 'users/sessions/new' %>
      <a class="close-button" data-close>&#215;</a>
    </div>
    <div id="user-join" class="reveal user-form" data-reveal>
      <%= render 'users/registrations/new' %>
      <a class="close-button" data-close>&#215;</a>
    </div>
    <div id="user-confirmation" class="reveal user-form" data-reveal>
      <%= render 'users/confirmations/new' %>
      <a class="close-button" data-close>&#215;</a>
    </div>
    <div id="user-password" class="reveal user-form" data-reveal>
      <%= render 'users/passwords/new' %>
      <a class="close-button" data-close>&#215;</a>
    </div>